

.profile{
    width: 500px;
    height: 420px;
    background: rgb(153, 70, 231);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color:white;
}

.box{
border-radius: 50%;
width: 240px;
height: 250px;

}

