* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i {
    color: dimgray;
}
.statistics{
    display: flex;
    flex-direction: column;
}
.wrapper {
    width: 1040px;
    margin: 0 auto;
}
.confirmed {
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    background: burlywood;
    
}
.box_wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  background:burlywood;
  
 
}
.box {
    border-right: 1px solid gray;
    display: grid;
}
.box:last-child{
    border: none;
}

table{
    margin-top: 50px;
}
